* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    /* position: sticky; */
    top: 0;
    background-color: white;
}

nav {
    display: flex;
    width: 85%;
    margin: auto;
    padding-bottom: 25px;
}

.box1_5 {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-right: 17%;
}

.box22_5 {
    width: 33%;
    display: flex;
    justify-content: space-around;
}

.img_align {
    vertical-align: top;
    height: 25px;
    margin-top: -4px;
}

.box1_5>a {
    text-decoration: none;
    vertical-align: top;
    font-family: sans-serif;
    padding-top: 15px;
    margin-top: 0px;
    font-size: 15px;
    color: black;
    font-weight: bold;

}
.box1_5>a:hover{
   text-decoration: underline;
}
.box22_5>#btn_property>button:hover{
    background-color: #e21339;
}

#btn-class {
    padding: 12px 42px;
    border-radius: 25px;
    border: 0px;
    background-color: #E4002B;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.fas_size {
    margin: 5px 0px;
    width: 55px;
    cursor: pointer;
    color: black;
}
.box22_5>#account_id{
    color: black;
}
.box22_5>#cart_id{
    color: black;
}

.icon-border {
    border-right: 1px solid silver;
    height: 30px;

}

.nav-bottom {
    display: flex;
    background-color: #202124;
    color: white;
    justify-content: center;
    height: 44px;
    cursor: pointer;
}
.nav-bottom:hover{
    background-color:#303133 ;
}

.nav-bottom>.para {
    margin-top: 12px;
    font-family: sans-serif;
    font-size: 14px;
}

.nav-bottom>.location{
    width: 20px;
    margin-top: 12px;
    color: #E4002B;
}

.nav-top {
    width: 85%;
    height: 28px;
    margin: auto;
}
.nav-top>img{
    margin-left: 1.65%;
}
 #mobile_nav{ 
     display: none; 
 } 
 .nav-bottom>a{
     display: none;
 }
 /* ----------------------------------------media query------------------------------------------------------ */
@media only screen and (min-width:0px) and (max-width:985px) {
    nav{
        display: none;
    }
    .nav-top{
        display: none;
    }
    #mobile_nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 44px;
    }
    #mobile_nav>a{
       color: black;
       margin-left: 5%;
       margin-right: 5%;
    }
    .nav-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-bottom>.para{
        margin-top: 1px;
    }
    .nav-bottom>.location{
       margin-left: 5%;
       margin-top: 0px;
      
    }
    .nav-bottom>a{
      display: block;
      margin-right: 5%;
      color:white;
    }
   
}